* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    background-color: bisque;
}

body > h1 {
    grid-area: 1/1/2/-1;
}

.new-book-form {
    border-radius: 20px;
    background-color: rgba(158, 158, 158, 0.68);
}

.new-book-form > .container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 25px;
    color: white;
    padding-left: 40px;
}

.container > div {
    width: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > span {
    width: 37%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container input {
    border: none;
    padding-left: 10px;
}

.container input[type="text"] {
    width: 300px;
    height: 20px;
    border-radius: 10px;
}

.container input[type="number"] {
    width: 300px;
    height: 20px;
    border-radius: 10px;
}

.container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.submit-form {
    border: none;
    width: 90px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

.close-form {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 19px;
}

.button-wrapper {
    grid-area: 3/1/4/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-book {
    border: none;
    background-color: transparent;
    font-size: 30px;
    width: 180px;
    height: 70px;
    border-radius: 25px;
}

.new-book:hover {
    background-color: rgba(158, 158, 158, 0.24);
}

.shelf {
    grid-area: 2/1/3/-1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.book-card {
    width: 200px;
    height: 300px;
    display: grid;
    grid: 2fr 1fr / 3fr 1fr;
    background-color: rgba(158, 158, 158, 0.68);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.book-card > img {
    grid-area: 1/1/2/3;
}

.book-card > h1 {
    grid-area: 2/1/3/2;
    font-size: 20px;
    align-self: flex-end;
    justify-self: flex-start;
}

.rmv-book-btn {
    grid-area: 2/2/3/3;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    justify-self: flex-end;
    border: none;
    border-radius: 5px;
}

.read-button {
    grid-area: 2/2/3/3;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    justify-self: flex-start;
    border: none;
    border-radius: 5px;
}